In [0]:
df.drop(labels=['city','fuel'],axis=1,inplace=True)  #City ve Fuel sütunları tek değişken içerdiği için modele katkısı olmucaktır.
                                                     #Bu yüzden bu sütunları siliyoruz. axis=0 row , axis=1 sütun demektir.
                                                     #inplace=True verinin üzerinde değişiklik yapar. False olsaydı yaptığımız şey kaydolmucaktı.

In [6]:
df.head()  #yeni halini görelim

  car_maker     model  year  ...  color            pay_method    price
0    Toyota      Rush  2019  ...  White  Cash or Installments  58375.0
1       Kia  Carnival  2006  ...   Grey             Cash Only  10000.0
2    Toyota     Camry  2014  ...  White     Installments Only  58375.0
3      Ford    Fusion  2010  ...  White             Cash Only  22425.4
4      Ford    Taurus  2018  ...   Grey             Cash Only  22425.4

[5 rows x 9 columns]

In [0]:
#get_dummies metoduyla her birinin içindeki değerleri çıkartıp kendi ismiyle bir değişkene atadık.
df_car_maker = pd.get_dummies(df.car_maker)
df_model = pd.get_dummies(df.model)
df_condition = pd.get_dummies(df.condition)
df_transmission = pd.get_dummies(df.transmission)
df_color = pd.get_dummies(df.color)
df_pay_method = pd.get_dummies(df.pay_method)

In [9]:
#Bunlardan bir tanesi neymiş görelim
df_pay_method

     Cash Only  Cash or Installments  Installments Only
0            0                     1                  0
1            1                     0                  0
2            0                     0                  1
3            1                     0                  0
4            1                     0                  0
..         ...                   ...                ...
555          1                     0                  0
556          1                     0                  0
557          1                     0                  0
558          1                     0                  0
559          1                     0                  0

[560 rows x 3 columns]

In [0]:
#Tüm kategorik sütunları kendilerine has bir değişkende depoladığımıza göre aynı metodla bunlarıda df'mizden silelim.
df.drop(labels=['car_maker','model','condition','transmission','color','pay_method'],axis=1,inplace=True)

In [11]:
df.head()  #son halini görelim

   year  kilometers    price
0  2019     14999.5  58375.0
1  2006         0.0  10000.0
2  2014     24999.5  58375.0
3  2010    200000.0  22425.4
4  2018      5000.0  22425.4