to_catogorical() metoduyla OneHotEncoding yapmak istediğimiz sütunu seçicez. Böylece 1 sütunumuz içindeki değişken veri sayısı kadar büyücek.

Az önceki örnek için;

Cash Only	||  Cash or Installments || Installments Only	

*  1          ||         0         ||            0
*  0          ||         1         ||            0
*  0          ||         0         ||            1

Olucak. Gölge değişken tuzağından kaçınmamız için 1 sütunu silmemiz gerek. Installment's Only'e ihtiyacımız yok çünkü ilk 2 sütun "0" olduğunda otomatikmen Installments Only 1 anlamına gelir. O yüzden sonlarına [:,:-1] ekleyerek oluşturduğumuz OneHotEncodinglerin son sütununu dahil etmicez.

Ve son olarak eğer kategorik değişkenimiz sadece 2 eşsiz değerden oluşuyorsa OneHotEncoding yapmamıza gerek yok çünkü sütun değerleri zaten 0 veya 1 dir.

In [0]:
from keras.utils import to_categorical #Bir derin öğrenme kütüphanesi olan keras'ın nimetlerinden faydalanalım.

car_maker = to_categorical(X[:,0])[:,:-1]   #2'den fazla kategori bulundurduğu için OneHotEncoding yaptık.
model = to_categorical(X[:,1])[:,:-1]       
year = X[:,2:3].astype('float32')           #Year değişkenini 2. sütundan 3'e kadar seçtik 3 dahil değil.
condition =  X[:,3:4].astype('float32')     #Sonuna float32 ekleyerek data türümüzü garantileyelim
kilometers = X[:,4:5].astype('float32') 
transmission = X[:,5:6].astype('float32')
color = to_categorical(X[:,6])[:,:-1]       
pay_method = to_categorical(X[:,7])[:,:-1]

Bakalım ne el ettik ilk 5 satırı hepsinde görünteleyelim

In [58]:
def ne_elde_ettik(sutun,name):
  print(name)
  print(sutun[:3] , sutun.shape)
  print("------------------------------")

xd = [car_maker,model,year,condition,kilometers,transmission,color,pay_method]
xdxd = ["car_maker","model","year","condition","kilometers","transmission","color","pay_method"]

for i in range(len(xd)):
  ne_elde_ettik(xd[i],xdxd[i])

car_maker
[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 1. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]] (560, 10)
------------------------------
model
[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]] (560, 24)
------------------------------
year
[[2019.]
 [2006.]
 [2014.]] (560, 1)
------------------------------
condition
[[0.]
 [0.]
 [0.]] (560, 1)
------------------------------
kilometers
[[14999.5]
 [    0. ]
 [24999.5]] (560, 1)
------------------------------
transmission
[[1.]
 [1.]
 [1.]] (560, 1)
------------------------------
color
[[0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 0.]] (560, 6)
------------------------------
pay_method
[[0. 1.]
 [1. 0.]
 [0. 0.]] (560, 2)
------------------------------

In [0]:
#Numpy'ın concantenate metoduyla tüm oluşturmuş olduğumuz(En son sütunu çıkarılmış sütünları) yanyana ekliyoruz. axis=1 sütun olarak birleştir
X = np.concatenate((car_maker,model,year,condition,kilometers,transmission,color,pay_method),axis=1) #Yeni X'imiz.

In [64]:
print(X , X.shape)  #560 satır 46 sütunluk bomba gibi verimiz hazır.

[[0. 0. 0. ... 0. 0. 1.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [1. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 1. 0.]] (560, 46)

Bir sonraki bölümde makine öğrenmesi kısmına tam olarak başlıyoruz. En zevkli part :)