##########PART2 - Machine Learning###########

In [0]:
df = pd.read_csv("carsclean.csv")                     #verimizi import ettik
df.drop(labels=['city','fuel'],axis=1,inplace=True)   #city  ve fuel değişkenleri işimize yaramadığı için yeniden sildik
df.head()  #df'imizin güncel hali

  car_maker     model  year  ...  color            pay_method    price
0    Toyota      Rush  2019  ...  White  Cash or Installments  58375.0
1       Kia  Carnival  2006  ...   Grey             Cash Only  10000.0
2    Toyota     Camry  2014  ...  White     Installments Only  58375.0
3      Ford    Fusion  2010  ...  White             Cash Only  22425.4
4      Ford    Taurus  2018  ...   Grey             Cash Only  22425.4

[5 rows x 9 columns]

In [0]:
# df.iloc satır ve sütun seçme komutumuzdur. [:, ] virgülden önceki iki nokta tüm satırları seçmemizi sağlar.
# Virgülden sonrası sütun seçme operasyonudur. X için son sütün hariç tüm satır ve sütünları seçtik.
# y içinde tüm satırları ve son sütunu seçtik. Sonuna .values ekleyerek değerlerimizi numpy-array olarak aldık.
# Numpy-array'e dönüştürmemizin nedeni sklearn kütüphanesinin numpy verileri istemesinden dolayı.
# İsterseniz farkı görmek için "df.iloc[:, :-1]" ve "df.iloc[:, :-1].values" değerlerini ayrı ayrı çalıştırın.
X = df.iloc[:, :-1].values 
y = df.iloc[:, -1:].values

In [0]:
X[:1] #X'in ilk satırına bakalım

array([['Toyota', 'Rush', 2019, 'Used', 14999.5, 'Automatic', 'White',
        'Cash or Installments']], dtype=object)

In [0]:
from sklearn.preprocessing import LabelEncoder   #Label encoder kategorik verileri , nümerik verilere çevirir.
labelencoder = LabelEncoder()    #LabelEncoder'ı labelencoder değişkenine atadık.
#Şimdi her bir kategorik sütunu labelencoder'la encode'licez. Neden mi? Makine yazıları anlayamaz sayıları anlar bu yüzden :)

X[:,0] = labelencoder.fit_transform(X[:,0]) #0. sütun araba markamız olan car_marker
X[:,1] = labelencoder.fit_transform(X[:,1]) #1. sütun modelimiz 
X[:,3] = labelencoder.fit_transform(X[:,3]) #3. sütun condition değerimiz
X[:,5] = labelencoder.fit_transform(X[:,5]) #5. sütun transmission değerimiz yani araç auto mu manuel mi.
X[:,6] = labelencoder.fit_transform(X[:,6]) #6. sütun arabamızın rengi olan color sütunu
X[:,7] = labelencoder.fit_transform(X[:,7]) #7. sütun ise ödeme metodu

Yukarıdaki koda alternatif olarak böylede yapabilirdik
```
categorical_columns = [0,1,3,5,6,7]

def categorical_to_numerical(column_number):
  X[:,column_number] = labelencoder.fit_transform(X[:,column_number])   

for i in range(len(categorical_columns)):
  categorical_to_numerical(categorical_columns[i])
```
Seçim size kalmış aynı şey :)

In [0]:
#Ödeme metodumuzun ilk 5 satırı sırasıyla : Cash or Installments,Cash Only,Installments Only,Cash Only,Cash Only	'idi.

X[:5,7:]  #Şimdi ödeme metodumuzun ilk 5 satırını neye dönüştürdüğümüzü görelim.

array([[1],
       [0],
       [2],
       [0],
       [0]], dtype=object)

Sklearn alfabetik sıralamaya göre numaralandırır. 
Bu yüzden örnek olarak

*   Cash Only : 0
*   Cash or Installments : 1
*   Installments Only : 2 'dir.

Bir sonraki aşamada OneHotEncoding yapıcaz :)