 X bağımsız değişkenlerimiz ve y bağımlı değişkenimizi train ve test datası olarak 2 ye ayıralım. Test datamız ana verimizin %20 sini içericek. Sonuçların aynı çıkması için random_state=0 olarak kalsın.

In [0]:
from sklearn.model_selection import train_test_split   #train,test ayırmak için gerekli kütüphane
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [68]:
from sklearn.linear_model import LinearRegression    #Tekli ve Çoklu regresyon için kullandığımız kütüphane
regressor = LinearRegression()                       #LinearRegression() metodumuzu regressor değişkenine atadık.
regressor.fit(X_train, y_train)                      #.fit metoduyla X_train ve y_train'imizi modelimize uydurduk ve öğrettik.

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Evet Bu kadar. 2 satır kod ile makinemiz öğrenmiş oldu. Şimdi gelelim sonuçlara :)

In [0]:
#.predict metodunun içine X_test'i vererek tahmin etmesini sağladık. Ve tahminlerimizi y_pred'e atadık.
y_pred = regressor.predict(X_test)

In [70]:
from sklearn.metrics import r2_score  #r2 score'mizi test edelim.
r2_score(y_test, y_pred)

0.9998423091391835

Mükemmel! Tüm tahminlerimizi ve gerçek değerleri bir dataframe üzerinde görüntüleyelim

In [72]:
tahmin = np.concatenate((y_pred,y_test),axis=1)
pd.DataFrame(tahmin , columns=["Tahminimiz","Gerçek Değerler"])

     Tahminimiz  Gerçek Değerler
0       58379.5          58375.0
1       41633.5          42000.0
2       24981.0          25000.0
3       58678.0          58375.0
4        1759.5           2114.0
..          ...              ...
107     98358.0          98500.0
108     21877.0          22000.0
109     22823.0          23000.0
110     45077.5          45000.0
111     58678.0          58375.0

[112 rows x 2 columns]

Fiyat tahmini ve gerçek fiyat değerleri oldukça yakın. Şimdi spesifik bir satıra bakalım

X_test'imizde 50. satırımızın

*   Markası : Mazda
*   Modeli : 3
*   Yılı : 2013
*   Durumu : 2.el
*   Kilometresi : 154.999
*   Vites : Otomatik
*   Rengi : Yeşil
*   Ödeme tipi : Nakit
*   Fiyatı : 16000

In [76]:
y_pred = regressor.predict(X_test[50:51,:])
y_pred

array([[16016.5]], dtype=float32)

Yapay zekamız fiyatı 16016 olarak tahmin etti. Kodları hep birlikte geliştirme dileğiyle sevgiler :)