In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

df = pd.read_csv("carsclean.csv")
df.head()

        city car_maker     model  ...  color            pay_method    price
0  Al Riyadh    Toyota      Rush  ...  White  Cash or Installments  58375.0
1  Al Riyadh       Kia  Carnival  ...   Grey             Cash Only  10000.0
2  Al Riyadh    Toyota     Camry  ...  White     Installments Only  58375.0
3  Al Riyadh      Ford    Fusion  ...  White             Cash Only  22425.4
4  Al Riyadh      Ford    Taurus  ...   Grey             Cash Only  22425.4

[5 rows x 11 columns]

In [3]:
df.info()   #Hiç bir sütunda null değeri olmadığını görüyoruz.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560 entries, 0 to 559
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          560 non-null    object
 1   car_maker     560 non-null    object
 2   model         560 non-null    object
 3   year          560 non-null    int64
 4   condition     560 non-null    object
 5   kilometers    560 non-null    float64
 6   transmission  560 non-null    object
 7   fuel          560 non-null    object
 8   color         560 non-null    object
 9   pay_method    560 non-null    object
 10  price         560 non-null    float64
dtypes: float64(2), int64(1), object(8)
memory usage: 48.2+ KB

In [4]:
columns_list = df.columns  #Sütun isimlerini columns_list değişkeninde depoladık.
                           #Listenin her bir ögesinde dolaşarak sütun isimlerini alıp
                           #O sütunda kaç çeşit değişken olduğunu yazdırdık
for column in columns_list:
  print(column)
  print(df[column].value_counts())
  print("--------------------")

city
Al Riyadh    560
Name: city, dtype: int64
--------------------
car_maker
Toyota      140
Ford        120
BMW          80
Kia          60
Renault      40
Dodge        20
GMC          20
Cadillac     20
Suzuki       20
Mazda        20
Nissan       20
Name: car_maker, dtype: int64
--------------------
model
Fusion            40
740               40
Camry             40
Expedition        20
Dokker Van        20
3                 20
Opirus            20
730               20
Escalade          20
Rio               20
Prado             20
X5                20
Fortuner          20
Envoy             20
Taurus            20
Durango           20
Symbol            20
Yaris             20
Other             20
Carnival          20
Rush              20
Patrol            20
Explorer          20
Avalon            20
Crown Victoria    20
Name: model, dtype: int64
--------------------
year
2008    100
2014     80
2016     60
2013     60
2007     60
2019     40
2009     40
2018     20
2015     20
2012     20
2011     20
2010     20
2006     20
Name: year, dtype: int64
--------------------
condition
Used    540
New      20
Name: condition, dtype: int64
--------------------
kilometers
200000.0    220
64999.5      40
14999.5      40
5000.0       40
44999.5      40
0.0          40
194999.5     20
174999.5     20
154999.5     20
114999.5     20
144999.5     20
104999.5     20
24999.5      20
Name: kilometers, dtype: int64
--------------------
transmission
Automatic    500
Manual        60
Name: transmission, dtype: int64
--------------------
fuel
Gasoline    560
Name: fuel, dtype: int64
--------------------
color
White     220
Black     100
Grey       80
Silver     80
Green      40
Beige      20
Brown      20
Name: color, dtype: int64
--------------------
pay_method
Cash Only               460
Cash or Installments     60
Installments Only        40
Name: pay_method, dtype: int64
--------------------
price
10000.0     60
58375.0     60
22425.4     40
62500.0     40
11000.0     20
16000.0     20
45000.0     20
20000.0     20
25000.0     20
40000.0     20
42000.0     20
94000.0     20
100000.0    20
35000.0     20
36000.0     20
24000.0     20
98500.0     20
2114.0      20
30000.0     20
23000.0     20
12000.0     20
22000.0     20
Name: price, dtype: int64
--------------------